* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body-wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
  width: 100%;

  overflow-x: hidden;
}

/* ABOUT SECTION */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-image: linear-gradient(
    170deg,
    #089bf7 10%,
    #089bf7 60.4%,
    white 60%
  );
}

.about-img-container {
  position: relative;
  margin: 16px 0px;
}
.about-img {
  object-fit: contain;
  height: auto;
  width: 350px;
  margin: 8px 16px;
}

.about-name {
  position: absolute;
  z-index: 1;
  top: 65%;
  left: 5%;
  color: white;
  font-size: 48px;
  letter-spacing: 0.3rem;
  width: 70%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-inline-size: 66ch;
  margin: 8px 16px;
}

.about-content-title {
  font-size: 2em;
  opacity: 80%;
  margin-top: 8px;
}

.about-content-para {
  opacity: 65%;
  font-size: 1.2em;
  margin-top: 16px;
  line-height: 1.6;
}

.about-content-links {
  margin-top: 16px;
}

.about-content-links > * {
  margin-right: 8px;
  font-size: 1.5em;
}

/* WORK SECTION */

.work {
  margin-top: 80px;
  margin-bottom: 160px;
}

.work-title {
  text-align: center;
  font-size: 2em;
  opacity: 80%;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.project {
  box-shadow: 1px 1px 10px 1px rgb(201, 200, 200);
  border-radius: 5px;
  margin-bottom: 24px;
  width: 70%;
}

.project-img {
  width: 100%;
}

.project-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  max-inline-size: 66ch;
}

.project-content-links > * {
  font-size: 1.2em;
  margin-right: 8px;
}

.link-logo {
  width: 0.99em;
}

.project-content-para {
  opacity: 65%;
  font-size: 1.1em;
  padding: 16px;
  line-height: 1.2;
}

/* FOOTER SECTION */

footer {
  background-color: #089bf7;
  color: #fff;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  max-inline-size: 50ch;

  padding: 16px;
  margin: 0 auto;
}

.footer-contact-title {
  text-align: center;
  font-size: 2em;
}
.footer-contact-para {
  font-size: 1.6em;
}

.footer-contact-para,
.footer-contact-address {
  margin: 16px 0px;
}

.footer-contact-address,
.footer-contact-phone,
.footer-contact-mail {
  font-size: 1.2em;
}

.footer-contact-links {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 32px;
}

.footer-contact-links > * {
  margin-right: 24px;
  font-size: 2em;
}

.footer-img {
  object-fit: contain;
  height: auto;
  width: 100%;
}

/* TABLET */

@media (min-width: 768px) {
  .about {
    display: block;
    padding: 80px;
  }

  .about-img-container {
    float: left;
    position: relative;
    top: -20px;
    left: -10px;
    z-index: 15;
    margin: 0px;
    margin-right: 15px;
    width: 300px;
    height: auto;
  }

  .about-img {
    margin: 0px;
    width: 100%;
  }

  .about-name {
    width: 100%;
    position: absolute;
    top: -2px;
    left: 250px;
    font-size: 32px;
    width: 100%;
  }

  .about-content {
    display: block;
    margin-top: 15px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.456);
    margin-right: auto;
    margin-left: auto;
    min-width: 500px;
  }

  /* WORK SECTION  */

  .projects {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
  }

  .project {
    width: 45%;
  }

  /* FOOTER */

  footer {
    flex-direction: row;
    padding-bottom: 48px;
    justify-content: center;
  }
  .footer-img {
    max-width: 350px;
    margin: 24px;
    height: auto;
  }

  .footer-contact-info {
    padding: 24px;
    margin: 0;
  }
}

/* LAPTOPS AND DESKTOPS */
@media (min-width: 992px) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-content {
    margin-right: 0;
    margin-left: 0;
  }
  .about-img-container {
    margin-right: 0px;
    left: 5px;
  }

  .about-name {
    top: 250px;
    left: 20px;
  }

  .about-content-links {
    display: flex;
    justify-content: end;
  }

  .project {
    width: 30%;
  }
}

/* LARGE MONITORS */
@media (min-width: 1600px) {
  .about {
    height: 900px;
  }
}
